#game-canvas {
  display: block;
  background-color: #21398F
}

@font-face {
    font-family: SpottedFever;
    src: url('../assets/SpottedFever.TTF');
    font-weight: normal;
}

body {
  margin:0px;
  padding:0px;
  position:relative;
}

.header {
  height:75px;
}

.links {
  width:900px;
  margin: 0px auto;
  display:flex;
  justify-content: space-around;
}

.title {
  text-align: center;
  margin:0px;
  padding:0px;
}


body {
  font-family: 'roboto', sans-serif;
}
